/********* アイコン **********/
$twitter: #1DA1F2;
$mail: #39475D;
$github: #dddddd;

/********* 黒 **********/
$black:#000;

/********* 白 **********/
$white: #fff;

/********* 青 **********/
$happy_blue: #00aaff;
$sky_blue: #eaf6fd;

/********* 黄 **********/
$sky_yellow: #fffac2;
$happy_yellow: #f9e900;