// 共通CSS
// 他の製作にも使用

/*************** style ***************/
ul {
    list-style: none;
}

/*************** position ***************/
.d-flex {
    display: flex;
}

/*************** container ***************/
.cont-1200 {
    max-width: 1200px;
    margin: 0 auto;
}