@charset "UTF-8";
/********* アイコン **********/
/********* 黒 **********/
/********* 白 **********/
/********* 青 **********/
/********* 黄 **********/
/*************** PC 1260px~ ***************/
body {
  font-size: 16pt;
  background: #eaf6fd;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0px 5px 0px -2px gray inset;
          box-shadow: 0px 5px 0px -2px gray inset;
}

nav {
  background-color: #00aaff;
}

nav ul {
  width: 1200px;
  height: 60px;
  margin: 0 auto;
}

nav ul li {
  color: #fff;
  width: 15%;
  margin-right: 5%;
  padding-top: 20px;
  text-align: center;
}

nav ul li:last-child {
  margin-right: 0%;
}

nav ul li:hover {
  background-color: #f9e900;
}

h3 {
  font-size: 25pt;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 15px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 500px;
  max-height: 500px;
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, right bottom, from(#00aaff), to(#f9e900));
  background: linear-gradient(to bottom right, #00aaff, #f9e900);
}

.top .title {
  margin: auto auto;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
}

.profile {
  margin-top: 30px;
}

.profile th {
  font-weight: 500;
  min-width: 90px;
  padding: 5px 0px;
}

.profile td {
  padding: 5px 0px;
}

.career {
  margin-top: 30px;
}

.career h1 {
  font-size: 25pt;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 15px;
}

.career table {
  width: 100%;
}

.career table th {
  background: #fffac2;
  border: 1px solid black;
  font-weight: 500;
  min-width: 90px;
  padding: 5px 10px;
}

.career table td {
  border: 1px solid black;
  padding: 5px 10px;
}

.skill {
  margin-top: 30px;
}

.skill .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.skill .container .item {
  width: 200px;
  height: 200px;
  padding: 25px 25px;
  margin-right: 50px;
  border: 1px solid #000;
  border-radius: 15px;
}

.skill .container .item:nth-child(5n-4) {
  margin-bottom: 50px;
}

.skill .container .item:nth-of-type(5n) {
  margin-right: 0px;
}

.skill .container .item:nth-last-child(-n+5) {
  margin-bottom: 0px;
}

.skill .container .item img {
  width: 130px;
  height: 130px;
}

.product {
  margin-top: 30px;
  margin-bottom: 50px;
}

.product .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product .wrapper .container:nth-child(odd) {
  margin-right: 15px;
}

.product .wrapper .container:nth-child(even) {
  margin-left: 15px;
}

.product .container {
  width: 585px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  margin-bottom: 30px;
}

.contact li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  margin-right: 20px;
  margin-bottom: 50px;
}

.contact li .mail {
  display: block;
  font-size: 30px;
  padding: 9px 9px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
}

.contact li .mail:hover {
  color: #39475D;
  cursor: pointer;
}

.contact li .twitter {
  display: block;
  font-size: 30px;
  padding: 9px 9px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
}

.contact li .twitter:hover {
  color: #1DA1F2;
  cursor: pointer;
}

.contact li .github {
  display: block;
  font-size: 30px;
  padding: 9px 9px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50px;
}

.contact li .github:hover {
  color: #dddddd;
  cursor: pointer;
}

.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  text-align: center;
  color: #fff;
  background: #000;
}

.copy-right small {
  font-size: 12px;
  margin: auto auto;
}
/*# sourceMappingURL=style.css.map */