// 固有CSS
// このサイトにのみ使用
@import "colors.scss";

/*************** PC 1260px~ ***************/
//common
body {
  font-size: 16pt;
  background: $sky_blue;
}
header {
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 0px -2px gray inset;
}
nav {
  background-color: $happy_blue;
  & ul {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    & li {
      color: $white;
      width: 15%;
      margin-right: 5%;
      padding-top: 20px;
      text-align: center;
      &:last-child {
        margin-right: 0%;
      }
      &:hover {
        background-color: $happy_yellow;
      }
    }
  }
}
h3 {
  font-size: 25pt;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 15px;
}

//top
.top {
  display: flex;
  width: 1200px;
  height: 500px;
  max-height: 500px;
  margin-top: 50px;
  background: linear-gradient(to bottom right, $happy_blue, $happy_yellow);
  & .title {
    margin: auto auto;
    color: $white;
    font-weight: 900;
    font-size: 50px;
  }
}

// profile
.profile {
  margin-top: 30px;
  & th {
    font-weight: 500;
    min-width: 90px;
    padding: 5px 0px;
  }
  & td {
    padding: 5px 0px;
  }
}

// career
.career {
  margin-top: 30px;
  & h1 {
    font-size: 25pt;
    font-weight: 500;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  & table {
    width: 100%;
    & th {
      background: $sky_yellow;
      border: 1px solid black;
      font-weight: 500;
      min-width: 90px;
      padding: 5px 10px;
    }
    & td {
      border: 1px solid black;
      padding: 5px 10px;
    }
  }
}

// skill
.skill {
  margin-top: 30px;
  .container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    & .item {
      width: 200px;
      height: 200px;
      padding: 25px 25px;
      margin-right: 50px;
      border: 1px solid #000;
      border-radius: 15px;
      &:nth-child(5n-4) {
        margin-bottom: 50px;
      }
      &:nth-of-type(5n) {
        margin-right: 0px;
      }
      &:nth-last-child(-n+5) {
        margin-bottom: 0px;
      }
      & img {
        width: 130px;
        height: 130px;
      }
    }
  }
}

//product
.product {
  margin-top: 30px;
  margin-bottom: 50px;
  & .wrapper {
    display: flex;
    flex-wrap: wrap;
    & .container:nth-child(odd){
      margin-right: 15px;
    }
    & .container:nth-child(even){
      margin-left: 15px;
    }
  }
  & .container {
    width: 585px;
    display: flex;
    border: 1px solid #000;
    margin-bottom: 30px;
  }
}

//Contact
.contact {
  & li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-right: 20px;
    margin-bottom: 50px;
    & .mail {
      display: block;
      font-size: 30px;
      padding: 9px 9px;
      //background:#000;
      color: $black;
      border: 1px solid $black;
      border-radius: 50px;
      &:hover {
        color: $mail;
        cursor: pointer;
      }
    };
    & .twitter {
      display: block;
      font-size: 30px;
      padding: 9px 9px;
      //background:#fff;
      color: $black;
      border: 1px solid $black;
      border-radius: 50px;
      &:hover {
        color: $twitter;
        cursor: pointer;
      }
    };
    & .github {
      display: block;
      font-size: 30px;
      padding: 9px 9px;
      //background:#fff;
      color: $black;
      border: 1px solid $black;
      border-radius: 50px;
      &:hover {
        color: $github;
        cursor: pointer;
      }
    };
  }
}

// footer
.copy-right {
  display: flex;
  height: 50px;
  text-align: center;
  color: $white;
  background: $black;
  & small {
    font-size: 12px;
    margin: auto auto;
  }
}